@import "../../../config/variable.scss";

.myFinance__logo {
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: 2.3rem;
}

.myFin_headerBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__sorting {
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    display: none;
  }

  &__addButton {
    min-width: 150px;
    height: 100%;
    padding: 1vh 3vw;
    border: 1px solid $dark-base-color;
    border-radius: 3px;
    background-color: $base-color;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 2vw;

    &:hover {
      background-color: $dark-base-color;
    }

    &:focus {
      outline: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.deleteCostItem {
  cursor: pointer;
}