@import "../../../styles/colors.scss";

.myFinance__logo {
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: 2.3rem;
}

.myFin_headerBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__sorting {
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    display: none;
  }
  &__costsByPeriod {
    margin-left: 1vw;
    font-size: 1.3rem;
  }
}

@media all and (min-width: 0) and (max-width: 400px) {
  .myFin_headerBox__btnBox {
    flex-direction: column;
    min-width: 100%;
    margin-top: 0.6rem;
  }
  .myFin_headerBox__dateBox {
    min-width: 100%;
  }
}
