.profileBox {
  margin-top:2vh;
  border-top: 1px solid #333;
  padding-top: 2vh;

  &__headerBox {
    display: flex;
    justify-content: space-between;
  }

  &__balanceBox {
    margin-bottom: 3vh;
    &__header {
      text-align: left;
      font-size: 1.5rem;
      border-bottom: 1px solid #fff;
      margin-bottom: 1.3vh;
    }

    &__successMsg {
      color: green;
      font-size: 1.2rem;
      margin: 1vh 0;
    }
  }

}