.profileBox {
  margin-top:3vh;
  border-top: 1px solid #333;
  padding-top: 3vh;

  &__balanceBox {
    &__header {
      font-size: 1.5rem;
      margin-bottom: 1vh;
    }

    &__successMsg {
      color: green;
      font-size: 1.2rem;
      margin: 1vh 0;
    }
  }

}