.myGroupBoxItem {
  width: 35rem;
  background-color: #fff;
  padding: 1rem 1.4rem;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;


  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__boxGroups {
    width: 100%;
  }

  &__group {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;

    &__title {
      flex-shrink: 1;
      width: 10rem;
      cursor: pointer;

      &__edit {
        border: none;
        background: none;
        border-bottom: 1px solid #333;
        font-size: 1.1rem;
        box-sizing: border-box;

        &__saveBtn {
          margin-left: 0.3rem;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &__msg {
      color: green;
      font-weight: 600;
    }

    &__amount {
      flex-grow: 1;
      text-align: right;
    }
    &__control {
      margin-left: 2rem;
    }
  }
}

.deleteGroup {
  cursor: pointer;
}

@media all and (min-width: 0) and (max-width: 800px) {
  .myGroupBoxItem {
    width: 100%;
  }
}

@media all and (min-width: 0) and (max-width: 400px) {
  .myGroupBoxItem {
    padding: 0.5rem 0.6rem;
  }
  .myGroupBoxItem__group__title {
    width: 5rem;
  }
}