.signIn {
  margin: auto;
  margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  &__recovery_link {
    margin-top:1vh;
    color: #fff;
  }
}