@import "../../config/variable.scss";
.flexbox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  flex: 1;
  display: flex;
  justify-content: space-between;

  &__menu{
    border-right: 1px solid #000;
    flex-grow: 0;
    background-color: $side-color;
  }

  &__info{
    flex-grow: 1;
    padding: 2rem 2rem 0;
  }
}