@import "../../../../config/variable.scss";

.close {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
}

.add_wlist__header {
  font-size: 1.6rem;
  font-weight: 600;
}

.add_wlist_item_box {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__input {
    margin-bottom: 2.5vh;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    padding: 0.5vh 1vw;
    font-size: 1rem;
  }

  &__txtarea {
    margin-bottom: 2.5vh;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    padding: 0.5vh 1vw;
    font-size: 1.3rem;
    min-height: 10vh;
  }
  
  &__opt {
    margin-bottom: 2.5vh;
    display: flex;
    justify-content: space-between;

    &_sel{
      border: 1px solid $dark-base-color;
      padding: 0.4vh 0.5vw;
      background-color: #fff;
      min-width: 10vw;
      border-radius: 3px;
    }
  }

  &__send {
    margin: auto;
    display: block;
    min-width: 30%;
    padding: 1vh 2vw;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #fff;
    color: $dark-color;
    border: solid 1px $dark-base-color;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background-color: $dark-base-color;
      color:#fff;
    }

    &:focus {
      outline: none;
    }
  }
}

.errorsMsg {
  display: block;
  background-color: rgb(250, 31, 31);
  padding: 0.2rem;
  border-radius: 3px;
}