@import "../../config/variable.scss";

.popup_box {
  top: 15%;
  left: 27%;
  color: #fff;
  text-align: center;
  min-width: 40%;
  position: absolute;
  padding: 2vh 3vw;
  background-color: $base-color;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.411);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
}

@media all and (min-width: 0) and (max-width: 1000px) {
  .popup_box {
    min-width: 80%;
    left: 10%;
  }
}

@media all and (min-width: 0) and (max-width: 720px) {
  .popup_box {
    min-width: 90%;
    left: 1%;
    top: 5%;
  }
}