@import "../../config/variable.scss";

.popup_box {
  top: 15%;
  left: 34%;
  color: #fff;
  min-width: 20%;
  max-width: 60%;
  max-height: 60%;
  overflow-y: auto;
  position: absolute;
  padding: 1rem 2rem;
  background-color: $base-color;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.411);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
}

@media all and (min-width: 0) and (max-width: 1000px) {
  .popup_box {
    min-width: 80%;
    left: 10%;
  }
}

@media all and (min-width: 0) and (max-width: 720px) {
  .popup_box {
    min-width: 90%;
    left: 1%;
    top: 5%;
  }
}