.userAcc_box {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin-top: 50px;

  &__menu{
    border-right: 1px solid #000;
    padding-right: 50px;
    flex-grow: 0;
  }

  &__info{
    flex-grow: 1;
    padding-left: 30px;
  }
}