@import "../../../../styles/colors.scss";

.costs {
  &__openAddCostBtn {
    position: absolute;
    display: block;
    bottom: 2rem;
    z-index: 1;
    right: 2rem;
    border: none;
    border-radius: 200px;
    background-color: $base-color;
    box-sizing: border-box;
    height: 4.4rem;
    width: 4.4rem;
    color: #fff;
    font-size: 2.4rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow: none;
    }
  }
}

.allCosts {
  margin-top: 2rem;
  height: 48rem;
  max-width: 94rem;
  overflow-y: auto;
  padding-right: 1rem;
}


.myFin{
  &__noContent {
    font-size: 2rem;
    color: #fff;
  }
}

@media all and (min-width: 0) and (max-width: 1400px) {
  .myFin_headerBox {
    flex-wrap: wrap;

    &__btnBox,
    &__periodBox   {
      margin-top: 2vh;
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@media all and (min-width: 0) and (max-width: 1000px) {
  .allCosts {
    height: 38rem;
    margin-top: 1rem;
  }
}

@media all and (min-width: 0) and (max-width: 800px) {
  .costs {
    display: flex;
    flex-direction: column;
  }
  .myFin_headerBox__dateBox {
    margin-top:1rem;
  }
  .allCosts {
    height: 55vh;
    margin-top: 0.4rem;
    flex-grow: 1;
  }
  .myFin_headerBox {
    flex: 0 1;
  }
  .CostBox__costInfo {
    width: 70%;
  }
  .costs__openAddCostBtn {
    bottom: 6rem;
    height: 4rem;
    width: 4rem;
  }
}

@media all and (min-width: 0) and (max-width: 500px) {
  .allCosts {
    height: 55vh;
  }
  .CostItem_header__info__title {
    min-width: auto;
  }
  .costs__openAddCostBtn {
    height: 4rem;
    width: 4rem;
  }
  .CostBox__costInfo {
    width: 90%;
  }
  .CostBox__costInfo__date, 
  .CostBox__costInfo__spentByDay {
    font-size: 0.8rem;
}
}