@import "../../styles/colors.scss";

.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url('/pic/bcg_main.png') no-repeat;
  background-size: cover;

  &__nav {
    padding: 1rem 8rem;

    &__item {
      color:#fff;
      font-size: 1.4rem;
    }
  }

  &__box {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 14rem 5rem 0 3rem;

    &__socioBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 24rem;

      &::before,
      &::after {
        content: '';
        display: block;
        height: 4rem;
        border-left: 2px solid #fff;
        margin: 1rem 0 1rem 1.4rem;
        box-sizing: border-box;
      }

    }

    &__signBox {
      width: 26rem;
      height: 20rem;
      background-color: $base-color;
      text-align: center;
      border-radius: 5px;
      padding: 2rem 0;
      margin-right: 10rem;
    }

    &__text {
      color: #fff;
      font-size: 1.4rem;
      width: 90%;
    }
  }

  &__msg_box {
    margin: 0;
    margin-top: 10px;
    padding: 1vh 1vw;
    background: #fff;

  }
  
  &__logo{
    color: #fff;
    font-size: 5rem;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  &__sign_btn {
    background: none;
    border: none;
    font-family: 'Franklin';
    font-size: 2rem;
    color: $side-color;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:hover {
      color: #fff;
    }
  }

  &__sign_active {
    color: #fff;
  }

  &__footer {
    padding: 1rem 8rem;
    color:#fff;
    font-size: 1.2rem;

    &__link {
      color:#fff;
    }
  }
}

.sucMsg {
  color: green;
  font-size: 1.2rem;
}

.errorMsg {
  color: rgb(110, 1, 1);
  font-size: 1.2rem;

}

@media all and (min-width: 0) and (max-width: 1400px) {
  .index__box {
    background: $side-color;
    background-image: none;
  }
}

@media all and (min-width: 0) and (max-width: 1200px) {
  .index__box__signBox {
    flex-basis: 50vw;
  }
}

@media all and (min-width: 0) and (max-width: 1000px) {
  .index__box {
    display: block;
  }

  .index__logo {
    margin-top:1rem;
  }

  .index__box__signBox {
    width: 50vw;
    margin:auto;
    margin-top: 5vh;
    height: auto;
  }

}

@media all and (min-width: 0) and (max-width: 800px) {
  .index__box__signBox {
    width: 80vw;
  }
  .index__box__text {
    width: auto;
    font-size: 1.4rem;
  }
}


@media all and (min-width: 0) and (max-width: 400px) {
  .index__box__iconsBox__item {
    width: 45%;
  }
  .index__logo {
    font-size: 4rem;
  }
  .index__box__signBox {
    height: auto;
  }
}