@import "../../config/variable.scss";

.index {
  text-align: center;
  height: 100%;

  &__msg_box {
    margin: 0;
    margin-top: 10px;
  }
  
  &__logo{
    color: $dark-color;
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 0px 4px 1px #777;
  }

  &__sign_btn {
    background: none;
    border: none;
    font-family: 'Franklin';
    text-decoration: underline;
    font-size: 24px;
    color: $dark-color;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:hover {
      color: $base-color;
    }
  }

  &__sign_active {
    color: $light-base-color;
  }
}

.sucMsg {
  color: green;
}

.errorMsg {
  color: red;
}