.txtarea1 {
  margin-bottom: 2.5vh;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5vh 1vw;
  font-size: 1.2rem;
  min-height: 10vh;

  &:focus {
    outline: none;
  }
}