$base-color: #0d3d66;
$dark-base-color: #011e36;
$light-base-color: #0e5696;
$dark-color: #323232;
$btn-hover-darker-blue: #a1a2a5;
$light-blue: #dfe2e7;
$headers-font: 'Franklin';
$main-font: 'Roboto';