$base-color: #00A6CB;
$side-color: #003541;
$dark-base-color: rgb(0, 132, 161);
$light-base-color: #0e5696;
$dark-color: #323232;
$btn-hover-darker-blue: #a1a2a5;
$light-blue: #dfe2e7;
$headers-font: 'Franklin';
$main-font: 'Roboto';