@import '../../config/variable.scss';

.header_box {
  padding: 6px 30px 7px;
  background-color: $base-color;
  color: #fff;
  box-shadow: 0px 1px 4px #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  &__logo {
    font-size: 2rem;
  }

  &__btn_item {
    font-family: 'Franklin';
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    
    &:hover {
      opacity: 0.7;
    }
    &:last-child {
      margin-right: 0;
    }
    &:focus {
      outline: none;
    }
  }
}