@import "../../../config/variable.scss";

.wList_headerBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__logo {
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: 26px;
    flex-basis: 10vw;
  }

  &__sorting {
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    display: none;
  }

  &__addButton {
    min-width: 150px;
    height: 100%;
    padding: 1vh 3vw;
    border: 1px solid $dark-base-color;
    border-radius: 3px;
    background-color: $base-color;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: $dark-base-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__sortBtn {
    border: none;
    background: none;
    margin-left: 2vw;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }
}

.wList_main_box {
  margin-top: 1vh;

  &__items_box {
    &__item {
      border: 1px solid $base-color;
      border-radius: 2px;
      max-width: 100%;
      margin: auto;
      margin-bottom: 2vh;

      &_header {
        padding: 1vh 1vw;
        background-color: $base-color;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;

        &__control {
          float: right;
        }

        &__info {
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &_text {
        margin: 0;
        padding: 1vh 1vw 1.5vh;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      &_del {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &__link {
      display: block;
      margin-top: 10px;
      color: $dark-color;
      font-size: 1.2rem;
    }
  }
}

.edit {
  margin-right: 15px;
  cursor: pointer;
}