@import "../../styles/colors.scss";

.footer_box {
  background-color: $base-color;
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  &__socio {
    flex-basis: 57%;

    &__item {
      width: 5%;
      margin-right: 2vw;
      vertical-align: bottom;
    }
  }

  &__info {
    font-size: 1rem;
    line-height: 1.5rem;
    &_link {
      color: #fff;
    }
  }
}

@media all and (min-width: 0) and (max-width: 1000px) {
  .footer_box__socio__item {
    width: 10%;
  }
}

@media all and (min-width: 0) and (max-width: 800px)  {
  .footer_box__socio {
    flex-basis: auto;
  }
  .footer_box__socio__item {
    width: 30%;
  }
}

@media all and (min-width: 0) and (max-width: 500px) {
  .footer_box {
    display: block;
  }
  .footer_box__socio {
    text-align: center;
    margin-top: 0.7rem;
  }
  .footer_box__info {
    font-size: 0.8rem;
    line-height: normal;
  }
  .footer_box__socio__item {
    width: 7%;
  }
}