@import "../../styles/colors.scss";


.select1 {
  border: 1px solid $dark-base-color;
  padding: 0.4rem 0.7rem;
  background-color: #fff;
  min-width: 15rem;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}