.settings {
  &__header {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2vh;
  }
  
  &__box {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (min-width: 0) and (max-width: 570px)  {
  .settings__box {
    display: block;
  }
}