@import "../../config/variable.scss";

.Input2 {
  border: 1px solid $base-color;
  border-radius: 3px;
  padding: 0.5vh 1vw;
  font-size: 1.3rem;
  margin-bottom: 1vh;

  &:focus {
    outline: none;
    box-shadow: 0 1px 2px #555 inset;
  }
  &:last-child {
    margin-bottom: 0;
  }
}