html,
body,
#root {
  width: 100%;
  font-family: Roboto;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  color: #292929;
} 

@font-face {
  font-family: 'Franklin';
  src: url('fonts/Franklin/FRABK.TTF');
}

h1, h2, h3 {
  font-family: 'Franklin';
  margin:0;
  font-weight: 500;
}
