@import '../../../config/variable.scss';

.PRLeftMenu_box {
  font-family: $headers-font;
  margin:0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96%;

  &__item {
    padding: 0 1rem;
    flex-grow: 1;

    &_btn {
      display: block;
      padding: 0.6rem 1.4rem;
      margin-top: 1vh;
      width: 12rem;
      font-size: 1.4rem;
      font-weight: 600;
      color: #fff;
      background: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;

      &:hover {
        background-color: #00A6CB;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:focus {
        outline: none;
      }

      &_active {
        background-color: rgba(0,166,203,0.7);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}