.myGroupBox {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  &__item {
    flex-basis: 40%;
  }
}

@media all and (min-width: 0) and (max-width: 500px) {
  .myGroupBox {
    display: block;
  }
}