.myGroupBox {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;

  &__item {
    width: 20rem;
  }
}

@media all and (min-width: 0) and (max-width: 500px) {
  .myGroupBox {
    display: block;
  }
}